# Python cache
_pycache_/
app/_pycache_/
app/migrations/_pycache_/
nasahack/_pycache_/
*.py[cod]
*.pyo

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Virtual environment
venv/
env/

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so

# Django migrations
**/migrations/

# Local settings file (if you have any local settings)
local_settings.py

# Static files build output
/staticfiles/

# ignore tf models and data
/playground/models/
/playground/data/