<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cargar MiniSEED</title>
  </head>
  <body>
    <h1>Cargar archivo MiniSEED</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Cargar</button>
    </form>
    <ul>
        {% for record in records %}
            <li>{{record.time_start}}</li>
        {% endfor %}
    </ul>
  </body>
</html>
