    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png'$}" />
        <title>NASA HACK</title>
        <!--     Fonts and icons     -->
        <link
        href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
        rel="stylesheet"
        />
        <link
        href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
        rel="stylesheet"
        />
        <!-- Nucleo Icons -->
        <link href="{% static 'css/nucleo-icons.css'%}" rel="stylesheet" />
        <!-- CSS Files -->
        <link href="{% static 'css/style.css'%}" rel="stylesheet" />
        <!-- DEMO DEMO DEML DEML DEMO REMOVE REMOVE REMOVE REMOVE REMOVE -->
        <link href="{% static 'demo/demo.css'%}" rel="stylesheet" />
    </head>

    <body class="">
        <div class="wrapper">
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                </div>
            </div>
            </nav>
            <div
            class="modal modal-search fade"
            id="searchModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="searchModal"
            aria-hidden="true"
            >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <input
                    type="text"
                    class="form-control"
                    id="inlineFormInputGroup"
                    placeholder="SEARCH"
                    />
                    <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    >
                    <i class="tim-icons icon-simple-remove"></i>
                    </button>
                </div>
                </div>
            </div>
            </div>
            <!-- End Navbar -->
            <div class="content">
            
            <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="min-height: 200px">
                    <h5 class="card-category">Record Time</h5>
                    <h3 class="card-title">Current Record</h3>
                    </div>
                    <div class="card-body">
                    <!-- Add your record time content here -->
                    <p>Latest record: <span id="latest-record">00:00:00</span></p>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                <div class="card card-tasks">
                    <div class="card-header">
                    <h6 class="title d-inline">Tasks(5)</h6>
                    <p class="card-category d-inline">today</p>
                    <div class="dropdown">
                        <div
                        class="dropdown-menu dropdown-menu-right"
                        aria-labelledby="dropdownMenuLink"
                        >
                        <a class="dropdown-item" href="#pablo">Action</a>
                        <a class="dropdown-item" href="#pablo">Another action</a>
                        <a class="dropdown-item" href="#pablo">Something else</a>
                        </div>
                    </div>
                    </div>
                    <div class="card-body">
                    <div class="table-full-width table-responsive">
                        <table class="table">
                        <tbody>
                            <tr>
                            <td>
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    />
                                    <span class="form-check-sign">
                                    <span class="check"></span>
                                    </span>
                                </label>
                                </div>
                            </td>
                            <td>
                                <p class="title">Update the Documentation</p>
                                <p class="text-muted">
                                Dwuamish Head, Seattle, WA 8:47 AM
                                </p>
                            </td>
                            <td class="td-actions text-right">
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    checked=""
                                    />
                                    <span class="form-check-sign">
                                    <span class="check"></span>
                                    </span>
                                </label>
                                </div>
                            </td>
                            <td>
                                <p class="title">GDPR Compliance</p>
                                <p class="text-muted">
                                The GDPR is a regulation that requires businesses
                                to protect the personal data and privacy of Europe
                                citizens for transactions that occur within EU
                                member states.
                                </p>
                            </td>
                            <td class="td-actions text-right">
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    />
                                    <span class="form-check-sign">
                                    <span class="check"></span>
                                    </span>
                                </label>
                                </div>
                            </td>
                            <td>
                                <p class="title">Solve the issues</p>
                                <p class="text-muted">
                                Fifty percent of all respondents said they would
                                be more likely to shop at a company
                                </p>
                            </td>
                            <td class="td-actions text-right">
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    />
                                    <span class="form-check-sign">
                                    <span class="check"></span>
                                    </span>
                                </label>
                                </div>
                            </td>
                            <td>
                                <p class="title">Release v2.0.0</p>
                                <p class="text-muted">
                                Ra Ave SW, Seattle, WA 98116, SUA 11:19 AM
                                </p>
                            </td>
                            <td class="td-actions text-right">
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    />
                                    <span class="form-check-sign">
                                    <span class="check"></span>
                                    </span>
                                </label>
                                </div>
                            </td>
                            <td>
                                <p class="title">Export the processed files</p>
                                <p class="text-muted">
                                The report also shows that consumers will not
                                easily forgive a company once a breach exposing
                                their personal data occurs.
                                </p>
                            </td>
                            <td class="td-actions text-right">
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <div class="form-check">
                                <label class="form-check-label">
                                    <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    />
                                    <span class="form-check-sign">
                                    <span class="check"></span>
                                    </span>
                                </label>
                                </div>
                            </td>
                            <td>
                                <p class="title">Arival at export process</p>
                                <p class="text-muted">
                                Capitol Hill, Seattle, WA 12:34 AM
                                </p>
                            </td>
                            <td class="td-actions text-right">
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                    <h4 class="card-title">Simple Table</h4>
                    </div>
                    <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter" id="">
                        <thead class="text-primary">
                            <tr>
                            <th>Name</th>
                            <th>Country</th>
                            <th>City</th>
                            <th class="text-center">Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Dakota Rice</td>
                            <td>Niger</td>
                            <td>Oud-Turnhout</td>
                            <td class="text-center">$36,738</td>
                            </tr>
                            <tr>
                            <td>Minerva Hooper</td>
                            <td>Curaçao</td>
                            <td>Sinaai-Waas</td>
                            <td class="text-center">$23,789</td>
                            </tr>
                            <tr>
                            <td>Sage Rodriguez</td>
                            <td>Netherlands</td>
                            <td>Baileux</td>
                            <td class="text-center">$56,142</td>
                            </tr>
                            <tr>
                            <td>Philip Chaney</td>
                            <td>Korea, South</td>
                            <td>Overland Park</td>
                            <td class="text-center">$38,735</td>
                            </tr>
                            <tr>
                            <td>Doris Greene</td>
                            <td>Malawi</td>
                            <td>Feldkirchen in Kärnten</td>
                            <td class="text-center">$63,542</td>
                            </tr>
                            <tr>
                            <td>Mason Porter</td>
                            <td>Chile</td>
                            <td>Gloucester</td>
                            <td class="text-center">$78,615</td>
                            </tr>
                            <tr>
                            <td>Jon Porter</td>
                            <td>Portugal</td>
                            <td>Gloucester</td>
                            <td class="text-center">$98,615</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <!-- Record Time Section (1/4 width) -->
                <div class="col-md-3">
                <div class="card">
                    <div class="card-header" style="min-height: 200px">
                    <h5 class="card-category">Record Time</h5>
                    <h3 class="card-title">Current Record</h3>
                    </div>
                    <div class="card-body">
                    <!-- Add your record time content here -->
                    <p>Latest record: <span id="latest-record">00:00:00</span></p>
                    </div>
                </div>
                </div>
                <!-- Performance Section (3/4 width) -->
                <div class="col-md-9">
                <div class="card card-chart">
                    <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                        <h5 class="card-category">Total Shipments</h5>
                        <h2 class="card-title">Performance</h2>
                        </div>
                        <div class="col-sm-6">
                        <div
                            class="btn-group btn-group-toggle float-right"
                            data-toggle="buttons"
                        >
                            <label
                            class="btn btn-sm btn-primary btn-simple active"
                            id="0"
                            >
                            <input type="radio" name="options" checked />
                            <span
                                class="d-none d-sm-block d-md-block d-lg-block d-xl-block"
                                >Accounts</span
                            >
                            <span class="d-block d-sm-none">
                                <i class="tim-icons icon-single-02"></i>
                            </span>
                            </label>
                            <!-- Add more buttons if needed -->
                        </div>
                        </div>
                        <div class="card-body">
                </div>
                    </div>
                    </div>
                    <div class="card-body">
                    <div class="chart-area">
                        <canvas id="chartBig1" style="height: 32vh"></canvas>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                createSmartChart("{% static 'data.csv' %}");
                            });
                        </script>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
            <div class="col-12">
                <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5 class="card-category">Total Shipments</h5>
                        <h2 class="card-title">Performance</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                        <label class="btn btn-sm btn-primary btn-simple active" id="0">
                            <input type="radio" name="options" checked>
                            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Accounts</span>
                            <span class="d-block d-sm-none">
                            <i class="tim-icons icon-single-02"></i>
                            </span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                    <canvas id="chartBig2"></canvas>
                    </div>
                </div>
                </div>
            </div>
            </div>
            </div>
            <footer class="footer">
            <div class="container-fluid">
                <ul class="nav">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link"> Creative Tim </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link"> About Us </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link"> Blog </a>
                </li>
                </ul>
                <div class="copyright">
                ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                2024 made with <i class="tim-icons icon-heart-2"></i> by
                <a href="javascript:void(0)" target="_blank">Git Push It Real Good</a> for
                NASA.
                </div>
            </div>
            </footer>
        </div>
        </div>
        <div class="fixed-plugin"></div>
        <!--   Core JS Files   -->
        <script src="js/core/jquery.min.js"></script>
        <script src="js/core/popper.min.js"></script>
        <script src="js/core/bootstrap.min.js"></script>
        <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!-- Chart JS -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{% static 'js/charts.js' %}"></script>
    </body>
    </html>
    
{% comment %} 
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cargar MiniSEED</title>
  </head>
  <body>
    <h1>Cargar archivo MiniSEED</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Cargar</button>
    </form>
    <ul>
        {% for record in records %}
            <li>{{record.time_start}}</li>
        {% endfor %}
    </ul>
  </body>
</html> {% endcomment %}
